<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>

    <section class="main">
        <div class="container flex">
            <div class="content">
                <h1 class="title">Personal blog</h1>
                <p class="subtitle">Build with Node.js Express, EJS</p>
            </div>
        </div>
    </section>
</body>

</html>